@mixin grid-container {
  max-width: 990px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Columns {
  @include grid-container();
  display: flex;

  @include max-screen(760px) {
    flex-flow: column nowrap;
  }
}

.Columns-left {
  width: 50%;
  padding-right: 10%;

  @include max-screen(760px) {
    padding-right: 0;
    width: 100%;
  }
}

.Columns-right {
  width: 50%;

  @include max-screen(760px) {
    width: 100%;
  }
}
