.Illustrations {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 80px;

  > .Columns {
    margin-top: 80px;

    @include max-screen(760px) {
      margin-top: 0;
    }
  }

  @include max-screen(760px) {
    padding-bottom: 50px;

    .Storyboards-intro {
      margin-top: 35px;
    }
  }
}

.Illustrations-header {
  width: 90%;
  margin: 0 auto;
  max-width: 990px;

  img {
    width: 100%;
  }
}

.Illustrations-grid {
  columns: 2;
  column-gap: 1em;

  > a {
    margin-bottom: 1em;
    display: inline-block;
    line-height: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include max-screen(760px) {
    font-size: 10px;
  }
}
