@import "grid";
@import "variables";

.Intro {
  @include grid-container;
  margin-top: 30px;
  margin-bottom: 80px;

  @include max-screen(760px) {
    margin-bottom: 50px;
  }
}

.Intro-content {
  display: flex;
  justify-content: center;
  align-items: center;

  @include max-screen(760px) {
    flex-flow: column nowrap;
  }
}

.Intro-text {
  max-width: 500px;
  margin-right: 50px;

  > h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    margin: 0;
  }

  @include max-screen(760px) {
    order: 2;
    max-width: unset;
    margin-top: 20px;
    margin-right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > h1 {
      font-size: 24px;
      text-align: center;
    }
  }
}

.Intro-highlight {
  font-weight: 600;
  color: $color-accent-primary;
}

.Intro-picture {
  flex: 0 0 250px;
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
  clip-path: circle(50%);

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
  }

  @include max-screen(760px) {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;

    > img {
      width: 150px;
    }
  }
}

.Intro-contact {
  margin-top: 15px;
  display: flex;
}
