.Storyboards {
  width: 100%;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding-top: 165px;
  padding-bottom: 120px;

  @include max-screen(760px) {
    padding: 0;
  }

  &::before {
    display: block;
    content: " ";
    top: -150px;
    left: 0;
    right: 0;
    height: 500px;
    position: absolute;
    background: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 1)
      ),
      url("../img/storyboard-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include max-screen(760px) {
      top: -80px;
      height: 360px;
      background: linear-gradient(
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 1)
        ),
        url("../img/storyboard-background.jpg");
    }
  }

  &::after {
    display: block;
    content: " ";
    bottom: -150px;
    left: 0;
    right: 0;
    height: 800px;
    position: absolute;
    background: linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.6)
      ),
      url("../img/storyboard-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  > .Columns {
    position: relative;
    z-index: 2;
  }
}

.Storyboards-intro {
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 28;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 25px;
  }

  p {
    line-height: 1.4;
  }

  @include max-screen(760px) {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;

    p {
      font-size: 14px;
      margin-top: 0;
      max-width: 45ch;
    }

    h2 {
      margin-bottom: 15px;
    }
  }
}
